.navlinks{
    margin-left: auto;
}

.active{

    border-bottom: 1px solid white;
}

.links{
    text-decoration: none;
    color: white;
    padding:5px;
    margin-left: 10px;
    
}
.logo{
    height: 60px;
}


.notification{
    display: inline;
    border-radius: 50%;
    color:white;
    height:25px;
    width: 25px;
    background-color: red;
    padding:2px 7px;
}