.navlinks{
    margin-left: auto;
}

.active{

    border-bottom: 1px solid white;
}

.links{
    text-decoration: none;
    color: white;
    padding:5px;
    margin-left: 10px;
    
}
.logo{
    height: 60px;
}
